# Base de données
DATABASE_URL="postgresql://user:password@localhost:5432/lydieshop"

# Auth
NEXTAUTH_SECRET="change-me-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Stripe
STRIPE_SECRET_KEY="sk_test_..."
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_test_..."
STRIPE_WEBHOOK_SECRET="whsec_..."

# OpenAI
OPENAI_API_KEY="sk-..."

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Resend
RESEND_API_KEY="re_..."
EMAIL_FROM="noreply@lydieshop.com"
